<basic-nav></basic-nav>

<div class="login-cont">
  <div class="container panel">
    <div class="login-head">
      <h2 class="text-left otp-head">E-mail verification</h2>
      <a class="login-a" href="#!/login"><h4>Login</h4></a>
    </div>
    <div style="display: flex; align-items: center">
      <input
        class="form-control"
        type="email"
        id="emailInput"
        ng-model="userEmail"
        readonly
      />
      <button class="btn btn-default btn-primary btn-otp" ng-click="sendOTP()">
        Get OTP
      </button>
    </div>
    <div ng-if="otpResponseMessage">
      <p class="otp-message">{{ otpResponseMessage }}</p>
    </div>
    <hr class="otp-hr" />

    <div class="login-head">
      <h4 class="text-left otp-head2">Enter your OTP</h4>
    </div>
    <div class="input-group-lg">
      <input
        class="form-control spaced-input"
        type="text"
        id="otpValue"
        value=""
        ng-model="enteredOtp"
        ng-change="validateOtp()"
      />
      <div ng-show="otpInvalid && otpModified">
        <div class="text-danger otp-val">OTP should be a 6-digit number.</div>
      </div>
      <button
        class="btn btn-default btn-success btn-otp"
        ng-click="verifyOTP()"
        ng-disabled="otpInvalid"
      >
        Verify
      </button>
      <div ng-if="verifyResponse.message && verifyResponse.status">
        <p class="verify-message text-success">
          {{ verifyResponse.message}} Redirecting...
        </p>
      </div>
      <div ng-if="verifyResponse.message && !verifyResponse.status">
        <p class="verify-message text-danger">{{ verifyResponse.message }}</p>
      </div>
    </div>
  </div>
</div>

<common-footer></common-footer>
<!-- test comment -->
